*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.container-tie{
  width: 80%;
  margin: 0 auto;
}

.my-4{
  margin-top: 40px;
  margin-bottom: 40px;
}

.highlighted{
  color: lightblue;
}
