@import '_navbar.scss';

header{
  background-color: black;
  height: 100px;
  font-size: .9em;
  .top-head{
    height: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    ul{
      @include my-ul-nostyle;
      width: 100%;
      justify-content: flex-end;
      color: #ffff;
      li i{
        color: cyan;
      }
    }

  }

}
