div.jumbo{
  font-size: 1.2em;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  .btns{
    button{
      @include my-square-button;
    }
    .learn-btn{
      background-color: black;
      color: #ffff;
      border-color: black;
      margin-right: 20px;
    }
    .download-btn{
      background-color: transparent;
    }
  }

  span.offer-txt{
    color: $offer-txt;
    display: block;
    font-style: italic;
  }
}
