@mixin my-flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin my-ul-nostyle{
  list-style: none;
  display: flex;
  li{
    padding: 10px;
    color: white;
    i{
      font-size: .8em;
      color: grey;
    }
  }
}
