@mixin my-flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin my-ul-nostyle{
  list-style: none;
  display: flex;
  li{
    margin:  20px;
    color: white;
    i{
      font-size: .8em;
      color: grey;
    }
  }
}

@mixin my-square-button{
  padding: 10px 20px;
  border: 1px solid;
  font-size: 1.1em;
}

@mixin txt-italic-bold{
  font-style: italic;
  font-weight: bold;
}
