* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.container-tie {
  width: 80%;
  margin: 0 auto;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.highlighted {
  color: lightblue;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  height: 75px;
  align-items: flex-end;
}
nav.navbar ul li {
  margin: 10px;
  color: white;
}
nav.navbar ul li i {
  font-size: 0.8em;
  color: grey;
}
nav.navbar ul li i {
  font-size: 0.6em;
  color: grey;
}

header {
  background-color: black;
  height: 100px;
  font-size: 0.9em;
}
header .top-head {
  height: 25px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
header .top-head ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color: #ffff;
}
header .top-head ul li {
  margin: 10px;
  color: white;
}
header .top-head ul li i {
  font-size: 0.8em;
  color: grey;
}
header .top-head ul li i {
  color: cyan;
}

nav.navbar ul {
  list-style: none;
  display: flex;
  height: 75px;
  align-items: flex-end;
}
nav.navbar ul li {
  margin: 10px;
  color: white;
}
nav.navbar ul li i {
  font-size: 0.8em;
  color: grey;
}
nav.navbar ul li i {
  font-size: 0.6em;
  color: grey;
}

div.jumbo {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
div.jumbo .btns button {
  padding: 10px 20px;
  border: 1px solid;
  font-size: 1.2em;
}
div.jumbo span.signature {
  position: absolute;
  top: 95%;
  right: 3%;
  color: #ffff;
}

main .container-tie .cards-container {
  display: flex;
  justify-content: space-between;
}
main .container-tie .cards-container .cards {
  width: calc(100% / 3 - 15px);
}
main .container-tie .cards-container .cards img {
  width: 100%;
}
